AWS_REGION=us-east-2
S3_BUCKET_NAME=profiling-pipeline-bucket
SQS_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/123456789012/profiling-queue
AWS_SECRET_NAME=profiling/db-credentials
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=profiling_db
PORT=3002
